In [63]:
import pandas as pd

data = pd.read_csv('consumer_combined_data.csv')

data['end_date_time'] = pd.to_datetime(data['end_date_time'])

In [64]:
reference_date = data['end_date_time'].max()
data['recency_days'] = (reference_date - data['end_date_time']).dt.days

In [65]:
recency_score_min = 1.0
recency_score_max = 10.0
data['recency_score'] = recency_score_max - ((data['recency_days'] - data['recency_days'].min()) / 
                                             (data['recency_days'].max() - data['recency_days'].min()) * 
                                             (recency_score_max - recency_score_min))

In [66]:
data.restaurant_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40], dtype=int64)

In [67]:
data.head(5)

,Unnamed: 0,id,device_id,end_date_time,end_loc,endpoint_type,provider_hash,provider_type,start_date_time,start_loc,trip_distance_meters,trip_id,trip_mean_speedkph,restaurant_id,recency_days,recency_score
0,0,1,76660fad4002ab6057562c7727e59230,2023-06-01 14:22:35+00:00,"37.8062,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-01T13:18:49.000Z,"37.3518,-121.999",84317,68f2b1cc65d4b702eec3bff7ebcf118b,79,1,13,1.000000
1,5,6,f5856a972c4332f19ddd22b6dcb4c337,2023-06-02 19:29:29.008000+00:00,"37.806318,-122.415774",0,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-02T19:26:27.781Z,"37.806013,-122.425418",848,b5ac6754fab59a991aa92db35d96a7b3,17,1,12,1.692308
2,6,7,a6eb3d19e2344a247e5ae6bfc3cd2c01,2023-06-03 22:28:22.631000+00:00,"37.806231,-122.416453",2,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-03T22:19:22.907Z,"37.803855,-122.401576",1636,7c974f67259a0d86553c634fd4c9bc8d,11,1,11,2.384615
3,8,9,9496bd1ee4b2da900df19fba6728b6c4,2023-06-06 18:56:43+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-06T15:11:01.000Z,"40.9173,-122.398",408521,8effd570a7c39cbad22fd1c1cfb85e19,109,1,8,4.461538
4,12,13,d1d10799e494e9823088c0d7f8dd01eb,2023-06-08 22:51:04+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-08T22:45:24.000Z,"37.8019,-122.421",900,5694e1175805ca700e4a243523cfd5ac,10,1,6,5.846154

In [68]:
import numpy as np

# Example: Setting lambda to a value (you might need to adjust this)
lambda_ = 0.05

# Applying exponential decay
data['decay_factor'] = np.exp(-lambda_ * data['recency_days'])

# Adjusting decayed score to fit in the 1.0 to 10.0 range
data['decayed_recency_score'] = recency_score_max - ((1 - data['decay_factor']) * (recency_score_max - recency_score_min))

In [69]:
data.head(5)

,Unnamed: 0,id,device_id,end_date_time,end_loc,endpoint_type,provider_hash,provider_type,start_date_time,start_loc,trip_distance_meters,trip_id,trip_mean_speedkph,restaurant_id,recency_days,recency_score,decay_factor,decayed_recency_score
0,0,1,76660fad4002ab6057562c7727e59230,2023-06-01 14:22:35+00:00,"37.8062,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-01T13:18:49.000Z,"37.3518,-121.999",84317,68f2b1cc65d4b702eec3bff7ebcf118b,79,1,13,1.000000,0.522046,5.698412
1,5,6,f5856a972c4332f19ddd22b6dcb4c337,2023-06-02 19:29:29.008000+00:00,"37.806318,-122.415774",0,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-02T19:26:27.781Z,"37.806013,-122.425418",848,b5ac6754fab59a991aa92db35d96a7b3,17,1,12,1.692308,0.548812,5.939305
2,6,7,a6eb3d19e2344a247e5ae6bfc3cd2c01,2023-06-03 22:28:22.631000+00:00,"37.806231,-122.416453",2,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-03T22:19:22.907Z,"37.803855,-122.401576",1636,7c974f67259a0d86553c634fd4c9bc8d,11,1,11,2.384615,0.576950,6.192548
3,8,9,9496bd1ee4b2da900df19fba6728b6c4,2023-06-06 18:56:43+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-06T15:11:01.000Z,"40.9173,-122.398",408521,8effd570a7c39cbad22fd1c1cfb85e19,109,1,8,4.461538,0.670320,7.032880
4,12,13,d1d10799e494e9823088c0d7f8dd01eb,2023-06-08 22:51:04+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-08T22:45:24.000Z,"37.8019,-122.421",900,5694e1175805ca700e4a243523cfd5ac,10,1,6,5.846154,0.740818,7.667364

In [70]:
# Counting the number of visits for each device_id to each restaurant_id
visit_counts = data.groupby([ 'restaurant_id']).size().reset_index(name='visit_count')

# # Normalizing the visit_count to a scale of 1 to 10
# frequency_score_min = 1.0
# frequency_score_max = 10.0
# visit_counts['frequency_score'] = frequency_score_max - ((visit_counts['visit_count'] - visit_counts['visit_count'].min()) / 
#                                                          (visit_counts['visit_count'].max() - visit_counts['visit_count'].min()) * 
#                                                          (frequency_score_max - frequency_score_min))

# # Merging this back with the main data if needed
# data = data.merge(visit_counts[['device_id', 'restaurant_id', 'frequency_score']], on=['device_id', 'restaurant_id'])

In [71]:
visit_counts

    restaurant_id  visit_count
0               1            5
1               2           15
2               3           26
3               4           16
4               5           24
5               6           29
6               7           12
7               8           19
8               9           29
9              10           17
10             11           13
11             12           13
12             13           10
13             14            3
14             15           16
15             16           10
16             17           16
17             18           19
18             19           19
19             20           17
20             21            5
21             22           15
22             23           26
23             24           16
24             25           24
25             26           29
26             27           12
27             28           19
28             29           29
29             30           17
30             31           13
31             32           13
32             33           10
33             34            3
34             35           16
35             36           10
36             37           16
37             38           19
38             39           19
39             40           17

In [72]:
data.frequency_score.unique()

AttributeError: 'DataFrame' object has no attribute 'frequency_score'

In [78]:
max_distance_threshold = data['trip_distance_meters'].quantile(0.95)  # 95th percentile as threshold

# Cap the distance at the threshold
data['capped_distance'] = data['trip_distance_meters'].clip(upper=max_distance_threshold)

# Normalize the capped distance to a scale of 1 to 10
distance_score_min = 1.0
distance_score_max = 10.0
data['distance_score'] = ((data['capped_distance'] - data['capped_distance'].min()) / 
                          (data['capped_distance'].max() - data['capped_distance'].min()) * 
                          (distance_score_max - distance_score_min)) + distance_score_min

# Scores at or above the threshold will be set to 10.0
data.loc[data['trip_distance_meters'] >= max_distance_threshold, 'distance_score'] = 10.0

In [79]:
data.head(5)

,Unnamed: 0,id,device_id,end_date_time,end_loc,endpoint_type,provider_hash,provider_type,start_date_time,start_loc,...,trip_id,trip_mean_speedkph,restaurant_id,recency_days,recency_score,decay_factor,decayed_recency_score,traffic_score,capped_distance,distance_score
0,0,1,76660fad4002ab6057562c7727e59230,2023-06-01 14:22:35+00:00,"37.8062,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-01T13:18:49.000Z,"37.3518,-121.999",...,68f2b1cc65d4b702eec3bff7ebcf118b,79,1,13,1.000000,0.522046,5.698412,7.247706,84317,9.383743
1,5,6,f5856a972c4332f19ddd22b6dcb4c337,2023-06-02 19:29:29.008000+00:00,"37.806318,-122.415774",0,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-02T19:26:27.781Z,"37.806013,-122.425418",...,b5ac6754fab59a991aa92db35d96a7b3,17,1,12,1.692308,0.548812,5.939305,1.559633,848,1.079196
2,6,7,a6eb3d19e2344a247e5ae6bfc3cd2c01,2023-06-03 22:28:22.631000+00:00,"37.806231,-122.416453",2,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-03T22:19:22.907Z,"37.803855,-122.401576",...,7c974f67259a0d86553c634fd4c9bc8d,11,1,11,2.384615,0.576950,6.192548,1.009174,1636,1.157596
3,8,9,9496bd1ee4b2da900df19fba6728b6c4,2023-06-06 18:56:43+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-06T15:11:01.000Z,"40.9173,-122.398",...,8effd570a7c39cbad22fd1c1cfb85e19,109,1,8,4.461538,0.670320,7.032880,10.000000,90511,10.000000
4,12,13,d1d10799e494e9823088c0d7f8dd01eb,2023-06-08 22:51:04+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-08T22:45:24.000Z,"37.8019,-122.421",...,5694e1175805ca700e4a243523cfd5ac,10,1,6,5.846154,0.740818,7.667364,0.917431,900,1.084370

In [73]:
data['traffic_score'] = (data['trip_mean_speedkph'] / data['trip_mean_speedkph'].max() ) * 10 # Normalizing to a 0-1 scale

In [74]:
data.head(5)

,Unnamed: 0,id,device_id,end_date_time,end_loc,endpoint_type,provider_hash,provider_type,start_date_time,start_loc,trip_distance_meters,trip_id,trip_mean_speedkph,restaurant_id,recency_days,recency_score,decay_factor,decayed_recency_score,traffic_score
0,0,1,76660fad4002ab6057562c7727e59230,2023-06-01 14:22:35+00:00,"37.8062,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-01T13:18:49.000Z,"37.3518,-121.999",84317,68f2b1cc65d4b702eec3bff7ebcf118b,79,1,13,1.000000,0.522046,5.698412,7.247706
1,5,6,f5856a972c4332f19ddd22b6dcb4c337,2023-06-02 19:29:29.008000+00:00,"37.806318,-122.415774",0,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-02T19:26:27.781Z,"37.806013,-122.425418",848,b5ac6754fab59a991aa92db35d96a7b3,17,1,12,1.692308,0.548812,5.939305,1.559633
2,6,7,a6eb3d19e2344a247e5ae6bfc3cd2c01,2023-06-03 22:28:22.631000+00:00,"37.806231,-122.416453",2,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-03T22:19:22.907Z,"37.803855,-122.401576",1636,7c974f67259a0d86553c634fd4c9bc8d,11,1,11,2.384615,0.576950,6.192548,1.009174
3,8,9,9496bd1ee4b2da900df19fba6728b6c4,2023-06-06 18:56:43+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-06T15:11:01.000Z,"40.9173,-122.398",408521,8effd570a7c39cbad22fd1c1cfb85e19,109,1,8,4.461538,0.670320,7.032880,10.000000
4,12,13,d1d10799e494e9823088c0d7f8dd01eb,2023-06-08 22:51:04+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-08T22:45:24.000Z,"37.8019,-122.421",900,5694e1175805ca700e4a243523cfd5ac,10,1,6,5.846154,0.740818,7.667364,0.917431

In [75]:
# Redefining weights for each feature
weights = {
    'distance': 0.20,
    'recency': 0.40,
    # 'frequency': 0.05,
    'traffic_score': 0.40
}

In [80]:
# Calculating the composite score
data['composite_score'] = (data['distance_score'] * weights['distance'] +
                                       data['decayed_recency_score'] * weights['recency'] +
                                    #    data['frequency_score'] * weights['frequency'] +
                                       data['traffic_score'] * weights['traffic_score'])

In [77]:
data.head(5)

,Unnamed: 0,id,device_id,end_date_time,end_loc,endpoint_type,provider_hash,provider_type,start_date_time,start_loc,trip_distance_meters,trip_id,trip_mean_speedkph,restaurant_id,recency_days,recency_score,decay_factor,decayed_recency_score,traffic_score
0,0,1,76660fad4002ab6057562c7727e59230,2023-06-01 14:22:35+00:00,"37.8062,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-01T13:18:49.000Z,"37.3518,-121.999",84317,68f2b1cc65d4b702eec3bff7ebcf118b,79,1,13,1.000000,0.522046,5.698412,7.247706
1,5,6,f5856a972c4332f19ddd22b6dcb4c337,2023-06-02 19:29:29.008000+00:00,"37.806318,-122.415774",0,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-02T19:26:27.781Z,"37.806013,-122.425418",848,b5ac6754fab59a991aa92db35d96a7b3,17,1,12,1.692308,0.548812,5.939305,1.559633
2,6,7,a6eb3d19e2344a247e5ae6bfc3cd2c01,2023-06-03 22:28:22.631000+00:00,"37.806231,-122.416453",2,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-03T22:19:22.907Z,"37.803855,-122.401576",1636,7c974f67259a0d86553c634fd4c9bc8d,11,1,11,2.384615,0.576950,6.192548,1.009174
3,8,9,9496bd1ee4b2da900df19fba6728b6c4,2023-06-06 18:56:43+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-06T15:11:01.000Z,"40.9173,-122.398",408521,8effd570a7c39cbad22fd1c1cfb85e19,109,1,8,4.461538,0.670320,7.032880,10.000000
4,12,13,d1d10799e494e9823088c0d7f8dd01eb,2023-06-08 22:51:04+00:00,"37.8061,-122.416",3,0353ab4cbed5beae847a7ff6e220b5cf,consumer,2023-06-08T22:45:24.000Z,"37.8019,-122.421",900,5694e1175805ca700e4a243523cfd5ac,10,1,6,5.846154,0.740818,7.667364,0.917431

In [81]:
data = data.sort_values('composite_score', ascending=False)

In [82]:
data.head(5)

,Unnamed: 0,id,device_id,end_date_time,end_loc,endpoint_type,provider_hash,provider_type,start_date_time,start_loc,...,trip_mean_speedkph,restaurant_id,recency_days,recency_score,decay_factor,decayed_recency_score,traffic_score,capped_distance,distance_score,composite_score
309,758,759,0546be3bb0573658ab3ddcb662786ba7,2023-06-12 09:03:38.872000+00:00,"37.798045,-122.406892",3,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-12T08:12:41.022Z,"37.751169,-121.465981",...,109,19,2,8.615385,0.904837,9.143537,10.000000,90511,10.0,9.657415
637,1546,1547,0546be3bb0573658ab3ddcb662786ba7,2023-06-12 09:03:38.872000+00:00,"37.798045,-122.406892",3,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-12T08:12:41.022Z,"37.751169,-121.465981",...,109,39,2,8.615385,0.904837,9.143537,10.000000,90511,10.0,9.657415
214,516,517,58894fcb2510087e90d2c6003970d357,2023-06-13 12:09:34+00:00,"37.806329,-122.404796",3,98b297950041a42470269d56260243a1,consumer,2023-06-13T10:49:22.000Z,"38.040335,-121.365813",...,100,12,1,9.307692,0.951229,9.561065,9.174312,90511,10.0,9.494151
542,1304,1305,58894fcb2510087e90d2c6003970d357,2023-06-13 12:09:34+00:00,"37.806329,-122.404796",3,98b297950041a42470269d56260243a1,consumer,2023-06-13T10:49:22.000Z,"38.040335,-121.365813",...,100,32,1,9.307692,0.951229,9.561065,9.174312,90511,10.0,9.494151
638,1549,1550,e1dee0ac5129ff67177200326e11a734,2023-06-14 08:27:44.129000+00:00,"37.798046,-122.406893",3,c3e878e27f52e2a57ace4d9a76fd9acf,consumer,2023-06-14T07:24:45.991Z,"37.751169,-121.465981",...,89,39,0,10.000000,1.000000,10.000000,8.165138,90511,10.0,9.266055

In [83]:
# from sklearn.preprocessing import MinMaxScaler

# data['column_name'] = np.log(df['column_name'])

# # Create a MinMaxScaler object
# scaler = MinMaxScaler(feature_range=(1.0, 10.0))

# # Fit the scaler to the data and transform the data
# df['column_name'] = scaler.fit_transform(df[['column_name']])

NameError: name 'df' is not defined

In [84]:
restaurant_score_agg = data.groupby('restaurant_id')[['decayed_recency_score', 'distance_score', 'traffic_score', 'composite_score']].mean()
restaurant_score_agg.reset_index(inplace=True)

In [85]:
9.8/restaurant_score_agg.composite_score.max()

1.7002235715935154

In [86]:
restaurant_score_agg

,restaurant_id,decayed_recency_score,distance_score,traffic_score,composite_score
0,1,6.506102,4.540981,4.146789,5.169353
1,2,8.279944,2.146533,1.865443,4.487461
2,3,7.593732,2.232920,2.332392,4.417034
3,4,7.787075,2.441082,1.777523,4.314056
4,5,7.754911,2.490590,2.006881,4.402835
5,6,7.701352,2.015819,1.755773,4.186014
6,7,7.540949,2.933813,2.125382,4.453295
7,8,7.247493,1.920495,1.641719,3.939784
8,9,7.404842,2.080788,1.746283,4.076608
9,10,7.384751,2.678621,2.514841,4.495561
10,11,7.187554,1.308488,1.185603,3.610961
11,12,7.814147,4.285306,4.453070,5.763948
12,13,8.043831,3.678360,2.807339,5.076140
13,14,7.216691,4.410440,3.302752,5.089866
14,15,8.096014,3.473523,3.497706,5.332193
15,16,8.430948,1.901532,1.798165,4.471952
16,17,7.621625,2.554298,2.362385,4.504464
17,18,7.717741,3.520341,3.297924,5.110334
18,19,7.648557,4.235787,3.737325,5.401510
19,20,7.629043,2.010710,1.629790,4.105675
20,21,6.506102,4.540981,4.146789,5.169353
21,22,8.279944,2.146533,1.865443,4.487461
22,23,7.593732,2.232920,2.332392,4.417034
23,24,7.787075,2.441082,1.777523,4.314056
24,25,7.754911,2.490590,2.006881,4.402835
25,26,7.701352,2.015819,1.755773,4.186014
26,27,7.540949,2.933813,2.125382,4.453295
27,28,7.247493,1.920495,1.641719,3.939784
28,29,7.404842,2.080788,1.746283,4.076608
29,30,7.384751,2.678621,2.514841,4.495561
30,31,7.187554,1.308488,1.185603,3.610961
31,32,7.814147,4.285306,4.453070,5.763948
32,33,8.043831,3.678360,2.807339,5.076140
33,34,7.216691,4.410440,3.302752,5.089866
34,35,8.096014,3.473523,3.497706,5.332193
35,36,8.430948,1.901532,1.798165,4.471952
36,37,7.621625,2.554298,2.362385,4.504464
37,38,7.717741,3.520341,3.297924,5.110334
38,39,7.648557,4.235787,3.737325,5.401510
39,40,7.629043,2.010710,1.629790,4.105675

In [87]:
restaurant_score_agg['composite_score'] = restaurant_score_agg['composite_score'].mul(1.69)

In [88]:
restaurant_score_agg

,restaurant_id,decayed_recency_score,distance_score,traffic_score,composite_score
0,1,6.506102,4.540981,4.146789,8.736206
1,2,8.279944,2.146533,1.865443,7.583810
2,3,7.593732,2.232920,2.332392,7.464787
3,4,7.787075,2.441082,1.777523,7.290754
4,5,7.754911,2.490590,2.006881,7.440791
5,6,7.701352,2.015819,1.755773,7.074364
6,7,7.540949,2.933813,2.125382,7.526069
7,8,7.247493,1.920495,1.641719,6.658235
8,9,7.404842,2.080788,1.746283,6.889467
9,10,7.384751,2.678621,2.514841,7.597498
10,11,7.187554,1.308488,1.185603,6.102523
11,12,7.814147,4.285306,4.453070,9.741072
12,13,8.043831,3.678360,2.807339,8.578677
13,14,7.216691,4.410440,3.302752,8.601873
14,15,8.096014,3.473523,3.497706,9.011405
15,16,8.430948,1.901532,1.798165,7.557598
16,17,7.621625,2.554298,2.362385,7.612544
17,18,7.717741,3.520341,3.297924,8.636465
18,19,7.648557,4.235787,3.737325,9.128552
19,20,7.629043,2.010710,1.629790,6.938591
20,21,6.506102,4.540981,4.146789,8.736206
21,22,8.279944,2.146533,1.865443,7.583810
22,23,7.593732,2.232920,2.332392,7.464787
23,24,7.787075,2.441082,1.777523,7.290754
24,25,7.754911,2.490590,2.006881,7.440791
25,26,7.701352,2.015819,1.755773,7.074364
26,27,7.540949,2.933813,2.125382,7.526069
27,28,7.247493,1.920495,1.641719,6.658235
28,29,7.404842,2.080788,1.746283,6.889467
29,30,7.384751,2.678621,2.514841,7.597498
30,31,7.187554,1.308488,1.185603,6.102523
31,32,7.814147,4.285306,4.453070,9.741072
32,33,8.043831,3.678360,2.807339,8.578677
33,34,7.216691,4.410440,3.302752,8.601873
34,35,8.096014,3.473523,3.497706,9.011405
35,36,8.430948,1.901532,1.798165,7.557598
36,37,7.621625,2.554298,2.362385,7.612544
37,38,7.717741,3.520341,3.297924,8.636465
38,39,7.648557,4.235787,3.737325,9.128552
39,40,7.629043,2.010710,1.629790,6.938591

In [89]:
merged_df = restaurant_score_agg.merge(visit_counts, on='restaurant_id', how='inner')
merged_df.to_clipboard()

In [99]:
merged_df.to_csv('restuarant_scores.csv', index=False)

In [90]:
import mysql.connector
import pandas as pd

In [93]:
connection = mysql.connector.connect(
        host='localhost',  # Replace with the actual host address
        port=3306,                  # Replace with the actual port if different
        user='root',
        password='',
        database='inrix'
    )

In [94]:
cur = connection.cursor()

In [96]:
# Iterate through rows in the DataFrame and insert values into the MySQL table
for index, row in merged_df.iterrows():
    query = "INSERT INTO scores (id, recency_score, frequency_score, distance_score, traffic_score, composite_score) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['restaurant_id'], row['decayed_recency_score'], row['visit_count'], row['distance_score'], row['traffic_score'], row['composite_score'])
    
    cur.execute(query, values)

In [97]:
connection.commit()

# Close the cursor and connection
cur.close()
connection.close()